html {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #eeeeee;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0;
  font-size: 1rem;
  margin: 0;
  color: #444444;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans Condensed", sans-serif;
}

h1 {
  font-size: 1.80rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

h2 {
  font-size: 2.25rem;
  line-height: 1.1;
  margin-bottom: 15px;
}

h3 {
  font-size: .9rem;
  font-weight: 300;
  margin-top: 15px;
  flex-basis: 10%;
}

h4 {
  font-size: 1.5rem;
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-weight: 700;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 10px;
}

h5 {
  font-size: 1.75rem;
  margin: 10px;
}

h6 {
  font-size: .9rem;
  font-weight: normal;
  margin: 30px;
}


/* Formating for EVERYTHING in header, including Navigation */
#header{
  background-color: #008080;
  color:#ffffff;
  border-bottom:3px #ff8c00 solid;
  display: flex;
  justify-content: space-between;
}

#main-nav ul{
  justify-content: flex-end;
  list-style: none;
  margin: 10px;
}

#main-nav li{
  display:inline;
  padding-left: 15px;
  font-size: 14px;
}


/* Formating for text in all paragraphs within the main sections of the website */
p{ 
  font-size: 13px;
  padding: 10px;
  margin: 0px;
  border: 0px;
}


/* First heading and paragraph within the main section of the website */
#sec-1{
  padding: 20px;
}


/* Second heading and paragraph within the main section of the website, which includes two columns */
#art-2{
  display: flex;
  justify-content: space-evenly;
}

.column{
  display: flex;
  justify-content: space-evenly;
}


/* third heading and paragraphs within the main section of the website */
#sec-2{
  background-color: #ff8c00;
  color: #ffffff;
  padding: 15px;
}


/* Formatting for Footer */
#main-footer{
  background-color: #444444;
  color:#ffffff;
  text-align: center;
  padding:.25px;
}