/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700');
html {
  font-size: 18px;
}

/* Set box sizing model */
* {
  box-sizing: border-box;
}

/* Basic Styles */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans Condensed", sans-serif;
}

main {
  background: #ddd;
  padding: 40px;
}

/* Horizontal Nav */
.horizontal-nav {
    display: flex;
    flex-direction: row;
    justify-content: right;
	/* use flex-direction here, should you use the row or column value? */
}

.horizontal-nav a {
    list-style: none;
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    background-color: teal;
    color:white;
    border-radius: 4px;
}

/* Vertical Nav */
.vertical-nav {
    display: flex;
    flex-direction: column;
    /* use flex-direction here, should you use the row or column value? */
}

.vertical-nav a {
    list-style: none;
    text-decoration: none;
    margin: 5px;
    padding: 10px;
    border-radius: 4px;
    color: teal;
}

.custom-nav {
    display: grid;
    grid-template-columns: 3(1fr);
    grid-template-rows: 3(1fr);
}

.custom-nav a {
    list-style: none;
    text-decoration: none;
    margin: 5px;
    padding: 10px;
    border-radius: 4px;
    background-color: teal;
    color: white;
}

.custom-nav a:nth-child(1) {
    grid-column: 1 / 5;
    grid-row: 1 / 2 ;
    justify-self: center;
}

.custom-nav a:nth-child(2) {
    grid-column: 1 / 2 ;
    grid-row: 2 / 3;
    justify-self: left;
}

.custom-nav a:nth-child(3) {
    grid-column: 4 / 5 ;
    grid-row: 2 / 3;
    justify-self: right;
}

.custom-nav a:nth-child(4) {
    grid-column: 1 / 5;
    grid-row: 3 / 4;
    justify-self: center;
}

